{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Vos posts</h2>
    {% if messages %}
        <ul class="messages" aria-live="polite">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if posts %}
        {% for post in posts %}
            {% if post.content_type == 'BILLET' %}
                {% include 'reviews/billet_snippet.html' with billet=post %}
            {% elif post.content_type == 'COMMENTAIRE' %}
                {% include 'reviews/commentaire_snippet.html' with commentaire=post %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Vous n'avez publié aucun billet ou critique pour le moment.</p>
    {% endif %}
{% endblock %}
