# Ignorer les fichiers de logs
*.log
.sqlite3
# Ignorer un dossier
node_modules/
env/
LITRevu/.idea/
LITRevu/.git/

LITRevu/__pycache__/
.git/
.idea/
__pycache__
authentification/__pycache__/
reviews/__pycache__/

# Ignorer un fichier spécifique
config.secret

# Ignorer tous les fichiers .env
.env
