{% load static %}
<div class="billet">
    <h3>{{ billet.title }}</h3>
    <table width="100%">
        <tr>
            <td align="left">{{ billet.user.username }} a demandé une critique :</td>
            <td align="right">{{ billet.time_created|date:"d/m/Y H:i" }}</td>
        </tr>
    </table>
    {% if billet.description %}
        <p>{{ billet.description }}</p>
    {% endif %}
    {% if billet.image %}
        <img src="{{ billet.image.url }}" alt="Image pour {{ billet.title }}" style="max-width: 200px; max-height: 200px;">
    {% endif %}
    <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 10px; gap: 10px;">
        {% if not is_feed and billet.user == request.user %}
            <a href="{% url 'reviews:edit-billet' billet.id %}" class="btn btn-primary btn-sm">Modifier</a>
            <form method="post" action="{% url 'reviews:delete-billet' billet.id %}" id="delete-billet-{{ billet.id }}" style="display:inline;" aria-label="Supprimer le billet">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        {% endif %}
        {% if request.user.is_authenticated and not billet.has_commentaire %}
            <a href="{% url 'reviews:commentaire-create' billet.id %}" class="btn btn-primary btn-sm">Créer une critique</a>
        {% endif %}
    </div>
</div>
