{% load static %}
<div class="commentaire">
    <table width="100%">
        <tr>
            <td align="left">{{ commentaire.user.username }} a publié une critique :</td>
            <td align="right">{{ commentaire.time_created|date:"H:i, j F Y" }}</td>
        </tr>
    </table>
    <h3>{{ commentaire.headline }} -
        {% if commentaire.rating == 0 %}Aucune étoile
        {% elif commentaire.rating == 1 %}★
        {% elif commentaire.rating == 2 %}★★
        {% elif commentaire.rating == 3 %}★★★
        {% elif commentaire.rating == 4 %}★★★★
        {% elif commentaire.rating == 5 %}★★★★★
        {% endif %}
    </h3>
    {% if commentaire.body %}
        <p>{{ commentaire.body }}</p>
    {% endif %}
    {% if commentaire.billet %}
        <div class="billet border p-3 mb-3">
            <p>{{ commentaire.billet.user.username }} a demandé une critique :</p>
            <h4>{{ commentaire.billet.title }}</h4>
            <p class="date-right">{{ commentaire.billet.time_created|date:"H:i, j F Y" }}</p>
            {% if commentaire.billet.description %}
                <p>{{ commentaire.billet.description }}</p>
            {% endif %}
            {% if commentaire.billet.image %}
                <img src="{{ commentaire.billet.image.url }}" alt="Image pour {{ commentaire.billet.title }}" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </div>
    {% endif %}
    {% if not is_feed and commentaire.user == request.user %}
        <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 10px; gap: 10px;">
            <a href="{% url 'reviews:edit-commentaire' commentaire.id %}" class="btn btn-primary btn-sm">Modifier</a>
            <form method="post" action="{% url 'reviews:delete-commentaire' commentaire.id %}" id="delete-commentaire-{{ commentaire.id }}" style="display:inline;" aria-label="Supprimer la critique">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
        </div>
    {% endif %}
</div>
