{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align: center;">Inscription</h2>
    <div style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; background-color: #f8f9fa;">
        <div class="response-container border p-3 mb-3" style="background-color: #f8f9fa;">
            <p><strong>Inscription :</strong></p>
            <div class="billet border p-3" style="background-color: #fff;">
                <form method="post" action="{% url 'authentification:register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </form>
            </div>
        </div>
        <div style="text-align: right; margin-top: 10px;">
            <a href="{% url 'authentification:login' %}" class="btn btn-secondary">Retourner</a>
        </div>
    </div>
    {% if messages %}
        <ul class="messages" aria-live="polite">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
